In [15]:
import pandas as pd

df = pd.read_csv(r'C:\Users\pooji\OneDrive\Attachments\Desktop\Priceoptima\based_pricing.csv')

## Milestone 4 Baseline Rule

In [40]:
# TIME BASED PRICING RULES

df['rule_price'] = df['Price'].astype(float)

# Weekend rule → +10%
df.loc[df['is_weekend'] == 1, 'rule_price'] *= 1.10;
# Month-end rule → +5%
df.loc[df['DAY'] >= 25, 'rule_price'] *= 1.05;
# Festival season rule → +15%
df.loc[df['Season'] == 'Festival', 'rule_price'] *= 1.15;

# final output
df[['Date', 'Price', 'rule_price', 'is_weekend', 'Season', 'DAY', 'Conversion Rate %']]

          Date  Price  rule_price  is_weekend   Season  DAY  Conversion Rate %
0   2024-01-01    267      267.00           0   Winter    1              12.77
1   2024-01-02    462      462.00           0   Winter    2               0.96
2   2024-01-03    466      466.00           0   Winter    3              12.40
3   2024-01-04    365      365.00           0   Winter    4             109.66
4   2024-01-05    266      266.00           0   Winter    5              70.31
..         ...    ...         ...         ...      ...  ...                ...
995 2026-09-22    363      363.00           0  Monsoon   22               1.50
996 2026-09-23    344      344.00           0  Monsoon   23               1.16
997 2026-09-24    385      385.00           0  Monsoon   24              10.53
998 2026-09-25    146      153.30           0  Monsoon   25               4.17
999 2026-09-26    418      482.79           1  Monsoon   26               0.60

[1000 rows x 7 columns]

In [44]:
#INVENTORY BASED PRICING RULES

# Start from base price
df['Inventory_Adjusted_Price'] = df['Price'].astype(float)
# 1. Low Stock (<20 → +15%)
df.loc[df['Stock Level'] < 20, 'Inventory_Adjusted_Price'] *= 1.15

In [45]:
# 2. High Stock (>100 → -10%)
df.loc[df['Stock Level'] > 100, 'Inventory_Adjusted_Price'] *= 0.90

In [55]:
# 3. Overstock (>200 → -25%)
df.loc[df['Stock Level'] > 200, 'Inventory_Adjusted_Price'] *= 0.75
df['Inventory_Adjusted_Price'] = df['Price'].astype(float)
cols_to_show = ['Date','Price','Stock Level','Inventory_Adjusted_Price']

print(df[cols_to_show].sample(10).sort_values(by='Date'))

          Date  Price  Stock Level  Inventory_Adjusted_Price
231 2024-08-19    357          446                     357.0
319 2024-11-15    476          564                     476.0
509 2025-05-24    355          219                     355.0
602 2025-08-25     81          579                      81.0
629 2025-09-21    332          454                     332.0
676 2025-11-07    461           20                     461.0
764 2026-02-03    339          171                     339.0
804 2026-03-15     56          233                      56.0
968 2026-08-26    178          793                     178.0
973 2026-08-31    361          665                     361.0

In [52]:
#REVENUE CALCULATIONS

# Static Revenue = original price × units sold
df['Static_Revenue'] = df['Price'] * df['Units Sold']

# Rule-Based Revenue = rule_price × units sold
df['Rule_Based_Revenue'] = df['rule_price'] * df['Units Sold']

In [54]:
total_Static_Revenue = df['Static_Revenue'].sum()
total_Rule_Based_Revenue = df['Rule_Based_Revenue'].sum()

print(f"total_Static_Revenue : {total_Static_Revenue:,.2f}")
print(f"total_Rule_Based_Revenue :{total_Rule_Based_Revenue:,.2f}")

total_Static_Revenue : 68,950,194.00
total_Rule_Based_Revenue :72,722,643.35

In [69]:
# Revenue lift (absolute)
revenue_lift = total_Rule_Based_Revenue - total_Static_Revenue
print(f"Revenue Lift : {revenue_lift:,.2f}")

# Revenue lift percentage
revenue_lift_percent = (revenue_lift / total_Static_Revenue) * 100
print(f"Revenue Lift  : {revenue_lift_percent:.2f}%")

Revenue Lift : 3,772,449.35
Revenue Lift  : 5.47%