In [25]:
import pandas as pd

In [26]:
custom_sales = pd.read_csv(r'C:\Users\pooji\OneDrive\Desktop\python\custom_sales.csv')

In [27]:
custom_sales.head(10)

,Date,Product ID,Units Sold,Price,Revenue,Stock Level,Restock Date,Warehouse/Store ID,Competitor Price,Competitor Name,Product Name,Category,Cost Price
0,2023-01-01,P0103,75,186.50,13987.50,89,2023-02-04,15,17.98,Costco,Tool Mini,Tools,52.81
1,2023-01-02,P0180,113,172.39,19480.07,653,2023-01-29,38,58.13,Kroger,Tool Mini,Clothing,120.98
2,2023-01-03,P0093,164,88.65,14538.60,319,2023-01-26,8,39.30,Kroger,Gadget X,Outdoors,87.09
3,2023-01-04,P0015,166,151.42,25135.72,549,2023-02-09,5,192.43,Costco,Widget A,Outdoors,78.36
4,2023-01-05,P0107,104,152.14,15822.56,804,2023-02-08,48,52.13,Kroger,Tool Mini,Tools,46.14
5,2023-01-06,P0072,84,25.11,2109.24,893,2023-02-08,26,214.81,BestBuy,Gadget Y,Home,139.97
6,2023-01-07,P0189,112,181.00,20272.00,138,2023-02-09,18,77.43,BestBuy,Tool Pro,Tools,61.36
7,2023-01-08,P0021,99,103.52,10248.48,510,2023-02-11,6,44.16,BestBuy,Tool Pro,Tools,15.80
8,2023-01-09,P0103,153,166.16,25422.48,867,2023-01-29,37,174.79,Target,Widget B,Electronics,93.71
9,2023-01-10,P0122,93,67.41,6269.13,844,2023-02-02,48,146.62,Costco,Widget B,Clothing,19.73

In [28]:
custom_sales.tail(10)

,Date,Product ID,Units Sold,Price,Revenue,Stock Level,Restock Date,Warehouse/Store ID,Competitor Price,Competitor Name,Product Name,Category,Cost Price
290,2023-10-18,P0147,138,113.57,15672.66,341,2023-11-16,4,121.10,Costco,Widget A,Outdoors,107.95
291,2023-10-19,P0048,101,116.46,11762.46,475,2023-11-26,6,194.22,Target,Widget B,Electronics,123.91
292,2023-10-20,P0131,152,59.60,9059.20,62,2023-11-05,22,144.94,Kroger,Tool Pro,Clothing,121.18
293,2023-10-21,P0148,192,155.05,29769.60,700,2023-11-03,26,119.59,Target,Tool Pro,Clothing,84.22
294,2023-10-22,P0152,177,41.47,7340.19,359,2023-11-10,3,74.73,Costco,Widget B,Electronics,79.46
295,2023-10-23,P0054,99,68.12,6743.88,560,2023-11-21,41,76.60,BestBuy,Tool Mini,Electronics,24.00
296,2023-10-24,P0120,36,87.96,3166.56,326,2023-11-02,42,148.94,BestBuy,Widget A,Tools,116.98
297,2023-10-25,P0161,96,103.98,9982.08,768,2023-11-09,14,218.74,BestBuy,Widget B,Outdoors,42.90
298,2023-10-26,P0152,152,52.27,7945.04,735,2023-12-03,11,147.30,Kroger,Widget B,Outdoors,76.01
299,2023-10-27,P0116,151,27.39,4135.89,140,2023-11-24,18,124.92,Amazon,Widget B,Electronics,44.79

In [29]:
custom_sales.shape

(300, 13)

In [30]:
custom_sales.isnull().sum()

Date                  0
Product ID            0
Units Sold            0
Price                 0
Revenue               0
Stock Level           0
Restock Date          0
Warehouse/Store ID    0
Competitor Price      0
Competitor Name       0
Product Name          0
Category              0
Cost Price            0
dtype: int64

In [31]:
custom_sales.dtypes

Date                   object
Product ID             object
Units Sold              int64
Price                 float64
Revenue               float64
Stock Level             int64
Restock Date           object
Warehouse/Store ID      int64
Competitor Price      float64
Competitor Name        object
Product Name           object
Category               object
Cost Price            float64
dtype: object

In [32]:
custom_sales.describe()

,Units Sold,Price,Revenue,Stock Level,Warehouse/Store ID,Competitor Price,Cost Price
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.00000
mean,101.986667,101.785400,10288.840033,515.580000,24.806667,113.064133,76.83910
std,57.083227,58.251736,9039.460124,297.093811,13.560072,61.458805,41.83409
min,1.000000,7.110000,81.120000,0.000000,1.000000,6.060000,3.23000
25%,51.750000,50.842500,3111.980000,259.500000,13.000000,57.935000,45.30250
50%,101.000000,101.060000,7272.690000,541.000000,25.000000,115.770000,75.46000
75%,152.000000,152.560000,15676.607500,802.500000,36.000000,159.905000,112.24250
max,197.000000,199.940000,37875.840000,996.000000,49.000000,219.870000,149.68000

In [33]:
print("\nInvalid values check:")
print("Units Sold <=0:",(custom_sales["Units Sold"] <= 0).sum())  
print("Price <=0:",(custom_sales["Price"] <= 0).sum())
print("Revenue <=0:",(custom_sales["Revenue"] <= 0).sum())
print("Cost Price  <=0:",(custom_sales["Cost Price"] <= 0).sum())
print("Stock Level <=0:",(custom_sales["Stock Level"] <= 0).sum())

Invalid values check:
Units Sold <=0: 0
Price <=0: 0
Revenue <=0: 0
Cost Price  <=0: 0
Stock Level <=0: 1

In [67]:
#KPI 1 : Revenue Lift
multiplier = 0.88
custom_sales["Dynamic Price"] = custom_sales["Price"] * multiplier
custom_sales["Dynamic Revenue"] = custom_sales["Dynamic Price"] * custom_sales["Units Sold"]
custom_sales["Expected Revenue"] = custom_sales["Cost Price"] * custom_sales["Units Sold"]
revenue_lift = ((custom_sales["Dynamic Revenue"].sum() - 
                 custom_sales["Expected Revenue"].sum()) /
                custom_sales["Expected Revenue"].sum()) * 100
print(f"Revenue Lift: {revenue_lift:.2f}%")

Revenue Lift: 15.72%

In [86]:
#KPI 2:Profit Margin
revenue_multiplier = 0.85
custom_sales["Adjusted Revenue"] = custom_sales["Revenue"] * revenue_multiplier
custom_sales["Profit"] = custom_sales["Adjusted Revenue"] - (custom_sales["Cost Price"] * custom_sales["Units Sold"])
profit_margin = (custom_sales["Profit"].sum() / custom_sales["Adjusted Revenue"].sum()) * 100
print(f"Profit Margin: {profit_margin:.2f}%")

Profit Margin: 10.53%

In [76]:
# KPI 3: Conversion Rate
conversion_rate = (custom_sales["Units Sold"].sum() / custom_sales["Stock Level"].sum()) * 100
print(f"Conversion Rate: {conversion_rate:.2f}%")

Conversion Rate: 19.78%

In [77]:
# KPI 4: Inventory Turnover
inventory_turnover = custom_sales["Units Sold"].sum() / custom_sales["Stock Level"].sum()
print(f"Inventory Turnover: {inventory_turnover:.2f}")

Inventory Turnover: 0.20